@*
    These are comments (@ * and * @)
    created by Satya Praneeth Reddi
*@
@{
    // These are comments as well in c#.
        /*
         * Created the app using the mvc template
         * Once app is created, we deleted the files inside
         * the model, controller and view/home folder and view/shared folder.
         * Then, added one view inside the view/home folder.
         * and also added one controller inside the controller folder.
         */
}

<!-- These are comments as well in html-->

<h1>Hello and welcome to ASP.NET MVC</h1>
<h2>My First MVC application.</h2>
@* Displaying the values you defined and put in ViewData in the controller*@
<h3>@ViewData["welcome"]</h3>
<h4>Daily Quote</h4>
<p>@ViewData["quote"]</p>