@*
    Created by Satya Praneeth Reddi
    1111111111111111111111111111111
*@

@{
    ViewData["title"] = "Simple Binding";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name ="viewport" content="width=device-width" charset="utf-8"/>
        <title>@ViewData["title"]</title>
    </head>
    <body>
        <h1>Reddi Week2 - Simple Binding</h1>
        <p>
            <form asp-controller="Home" asp-action="Index" method="post">
                <label>Pleae enter a number</label>
                <input type = "text" name = "number" />
                <input type = "submit" value = "Submit" />
            </form>
        </p>

        <p>
            <form asp-controller="Home" asp-action="ShowFortune" method="post">
                <label>Please enter a number between 1 & 9</label>
                <input type="number" name="number" min="0" max="9" />
                <input type="text" name="name" />
                <input type="submit" value="Submit" />
            </form> 
        </p>
        <p>@Html.Raw(ViewBag.Result)</p>
    </body>
</html>

